@charset 'utf-8';

html {
    font-family: 'Noto Sans KR', sans-serif;
    font-size:14px;
}
body {
    overflow-x: hidden;
    color: rgb(29, 29, 31);
    letter-spacing: -0.05em;
    background-color: white;
}
p {
    line-height: 1.6;
}
a {
    color: rgb(29, 29, 31);
    text-decoration: none;
}
.global__nav {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 44px;
    padding:0 1rem;
}
.local__nav{
    position: absolute;
    top: 45px;;
    left: 0;
    z-index: 11;
    width: 100%;
    height: 52px;
    padding:0 1rem;
    border-bottom: 1px solid #ddd;
}

.global__nav__links,
.local__nav__links {
    display: flex;
    align-items: center;
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
}
.global__nav__links {
    justify-content: space-between;
}
.local__nav__links .product__name{
    margin-right: auto;
    font-size: 1.4rem;
    font-weight: 400;
}
.local__nav__links a {
    font-size: 0.8rem;
}
.local__nav__links a:not(.product__name) {
    margin-left: 2em;
}
.scroll__section {
    position: relative;
    padding-top: 50vh;
}
#scroll__section__0 h1 {
    position: relative;
    top: -10vh;
    z-index: 5;
    font-size: 4rem;
    text-align: center;
}
.main__message {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 35vh;
    margin: 5px 0;
    height: 3em;
    font-size: 2.5rem;
    opacity: 0;
}
.main__message p {
    font-weight: bold;
    text-align: center;
    line-height: 1.2;
}
.main__message small {
    display: block;
    margin-bottom: 0.5em;
    font-size: 1.2rem;
}
#scroll__section__2 .main__message {
    font-size: 3.5rem;
}
.description {
    padding: 0 1rem;
    font-size: 1.2rem;
    color: #888;
    max-width: 1000px;
    margin: 0 auto;
}
.description strong{
    float: left;
    margin-right: 0.2em;
    font-size: 3rem;
    color: rgb(29,29,31);
}
.desc__message {
    width: 50%;
    font-weight: bold;
    opacity: 0;
}
.pin {
    width: 1px;
    height: 100px;
    background: rgb(29,29,31);
}
#scroll__section__2 .b {
    top: 10%;
    left: 40%;
}
#scroll__section__2 .c {
    top: 15%;
    left: 45%;
}
.mid__message {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 1rem;
    font-size: 2rem;
    color: #888;
}
.mid__message strong {
    color: rgb(29, 29, 31);
}
.canvas__caption {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 1rem;
    font-size: 1.2rem;
    color: #888;
}
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7rem;
    background: darkorange;
}
.sticky__elem {
    display: none;
    position: fixed;
    left: 0;
    width: 100%;
}
#show__scene__0 #scroll__section__0 .sticky__elem,
#show__scene__1 #scroll__section__1 .sticky__elem,
#show__scene__2 #scroll__section__2 .sticky__elem,
#show__scene__3 #scroll__section__3 .sticky__elem {
    display: block;
}

.sticky__elem__canvas {
    top: 0;
    height: 100%;
}
.sticky__elem__canvas canvas {
    position: absolute;
    top: 50%;
    left: 50%;
}
.image__blend__canvas {
    background: blue;
}
#scroll__section__3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 1024px) {
    #scroll__section__0 h1 {
        font-size: 9vw;
    }
    .main__message {
        font-size: 4vw;
    }
    .description {
        font-size: 2rem;
    }
    .description strong {
        font-size: 6rem;
    }
    #scroll__section__2 .main__message {
        font-size: 6vw;
    }
    .description small {
        font-size: 1.5vw;
    }
    .desc__message {
        width:20%;
    }
    #scroll__section__2 .b {
        top: 20%;
        left: 53%;
    }
    #scroll__section__2 .c {
        left: 55%;
    }
    .mid__message {
        font-size: 4vw;
    }
    .canvas__caption {
        font-size: 2rem;
    }
}